*cc.sh
*egg-info/
*temp_cfg/
*env_temp_cfg/
bin/
lib/
.idea/
pyvenv.cfg
lop.egg-info
__pycache__/
*.pyc
data/
.DS_Store
venv/
.python-version
lop/slowly_changing_regression/*.out
lop/slowly_changing_regression/*.error
lop/slowly_changing_regression/plots/*.png

